<a href="https://colab.research.google.com/github/vineethreddy09/DATAMINING/blob/main/week_6_data_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
data = {'Names':['Akshith','Sunny','Shiva'],'Hno':[1959,2040,1843]}
df = pd.DataFrame(data)

In [3]:
label_encoder = LabelEncoder()
df['Hno_encoded'] = label_encoder.fit_transform(df['Hno'])

In [4]:
one_hot_encoded = pd.get_dummies(df['Names'],prefix = 'Names')
df = pd.concat([df,one_hot_encoded], axis = 1)

In [5]:
print(df)

     Names   Hno  Hno_encoded  Names_Akshith  Names_Shiva  Names_Sunny
0  Akshith  1959            1           True        False        False
1    Sunny  2040            2          False        False         True
2    Shiva  1843            0          False         True        False

In [6]:
from datetime import datetime

In [8]:
data = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df = pd.DataFrame(data)

In [9]:
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])

In [11]:
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [15]:
data = {'Category': ['A', 'A', 'B', 'B', 'C'],
 'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)

In [16]:
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [17]:
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum',
'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0